.loader {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
