.userImage {
    display: inline-flex;
    font-size: 24px;
    width: 1em;
    height: 1em;
    position: relative;
    cursor: pointer;

    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.story {
    .imageWrapper {
        border-radius: 50%;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        background: conic-gradient(
            from 180deg at 50% 50%,
            #e03571 -44.74deg,
            #f9793a 0.68deg,
            #f79c4f 46.29deg,
            #f97e34 90.31deg,
            #e3455f 138.62deg,
            #d72b7e 180deg,
            #c12f91 227.75deg,
            #db297d 269.6deg,
            #e03571 315.26deg,
            #f9793a 360.68deg
        );

        img {
            box-shadow: 0 0 0 2px var(--white);
            width: 1em;
            height: 1em;
        }
    }
}

.active {
    .imageWrapper {
        box-shadow: 0 0 0 3px var(--black);
        img {
            box-shadow: 0 0 0 2px var(--white);
        }
    }
}
