.message-content-inner {
    display: flex;
    flex: 1;
    overflow-y: auto;
    & > ul {
        display: flex;
        flex-direction: column;
        flex: 1;
        list-style: none;
        margin: 0;
        padding: 20px 20px 0 20px;

        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            .message-section {
                display: flex;
                align-items: flex-end;

                .user-image {
                    margin-right: 8px;
                    font-size: 24px;
                    width: 1em;
                    height: 1em;
                }
            }

            .section-messages {
                font-size: 14px;
                width: 100%;
                max-width: 235px;
                display: flex;
                flex-direction: column;

                .message {
                    border: 1px solid var(--border-light-color);
                    border-radius: 22px;
                    padding: 16px;
                    margin-bottom: 8px;
                    align-self: flex-start;
                    float: left;
                    background-color: var(--other-message-background);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &.me {
                .message-section {
                    justify-content: flex-end;

                    .section-messages {
                        .message {
                            align-self: flex-end;
                            background-color: var(--border-light-color);
                        }
                    }
                }
                .user-image {
                    display: none;
                }
            }
        }
    }
}
