.message-content__footer {
    padding: 20px;
    background-color: var(--white);

    .message-form-inner {
        border: 1px solid var(--border-color);
        border-radius: 22px;
        padding: 0 8px 0 11px;
        display: flex;
        align-items: center;

        button {
            all: unset;
            cursor: pointer;
            padding: 8px;
            display: flex;
        }

        textarea {
            flex: 1;
            display: block;
            font-size: 14px;
            line-height: 18px;
            padding: 9px;
            display: flex;
            align-items: center;
            resize: none;
            font-family: inherit;
            border: 0;
            outline: 0;
            background-color: inherit;
            color: inherit;
        }
    }
}
