.contact-list-wrapper {
    flex: 1;
    padding: 8px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;

    .contact-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .contact {
            &:hover {
                background-color: var(--background-color);
                cursor: pointer;
            }
            &.active-contact {
                background-color: var(--border-light-color);
            }
        }

        a {
            padding: 8px 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            overflow: hidden;

            .message-list__user-image {
                margin-right: 12px;
            }

            .message-list__user-meta {
                font-size: 14px;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;

                span {
                    color: var(--text);
                }
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--muted-text);
                }
            }
        }
    }
}
