.userProfileInfo {
    @media (max-width: 734.98px) {
        margin: 15px;
    }
    .userFullname {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .userBiography {
        font-size: 16px;
        line-height: 1.5;

        a {
            color: var(--tag-blue);
            text-decoration: none;
        }
    }
}
