.editProfileBtn {
    margin-left: 20px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    color: inherit;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 9px;
    background-color: var(--background-color) !important;
    outline: 0;

    @media (max-width: 734.98px) {
        margin: 15px;
        display: block;
        width: calc(100% - 30px);
        background-color: var(--white) !important;
    }
}
