.UserImage {
    display: inline-block;

    .active,
    .story,
    .story-inner,
    img {
        display: block;
        border-radius: 50%;
        object-fit: cover;

        &.profile-page-image {
            width: 150px;
            height: 150px;
            @media (max-width: 734.98px) {
                width: 90px;
                height: 90px;
            }
        }
    }

    .story {
        background: conic-gradient(
            from 180deg at 50% 50%,
            #dd247f -19.52deg,
            #feda77 46.29deg,
            #f58529 105deg,
            #dd247f 180deg,
            #dd247f 340.48deg,
            #feda77 406.29deg
        );
        padding: 2px;
        cursor: pointer;

        .story-inner {
            padding: 2px;
            background-color: var(--white);
        }
    }

    .active {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
        cursor: pointer;
        background-color: var(--black);

        .story-inner {
            padding: 1px;
            background-color: var(--white);
        }
    }
}
